form {
  padding-top: 60px;
  display: block;
}

.city {
  text-align: right;
  display: block;
  margin: 0px 0px 8px;
  padding: 10px;
  color: #006ec5;
}

.dateTime {
  text-align: right;
  display: block;
  padding: 10px;
  color: #4f5258;
}

.wrapper {
  max-width: 700px;
  margin: 50px auto;
  background-image: linear-gradient(
    -225deg,
    #7085b6 0%,
    #87a7d9 50%,
    #def3f8 100%
  );
  border: 9px;
}

.searchForm {
  display: block;
}

.pinpoint {
  background-color: yellow;
  border-radius: 5px;
  padding: 5px;
}
.searchTemp {
  text-align: right;
  display: block;
  color: #006ec5;
  padding: 5px;
  font-size: 50px;
}

.weatherIcon {
  padding: 20px;
  :100px ;
}

.summary {
  text-align: left;
  display: block;
  padding: 5px;
  font-size: 30px;
}

.feels {
  display: block;
}
