form {
  padding-top: 60px;
  display: block;
}

.city {
  text-align: right;
  display: block;
  margin: 0px 0px 8px;
  padding: 10px;
  color: #006ec5;
  font-family: "Antic Slab", serif;
}

.dateTime {
  text-align: right;
  display: block;
  padding: 10px;
  color: #4f5258;
  font-family: "Antic Slab", serif;
}

.wrapper {
  max-width: 700px;
  margin: 50px auto;
  background-image: linear-gradient(
    -225deg,
    #7085b6 0%,
    #87a7d9 50%,
    #def3f8 100%
  );
  border: 9px;
}

.searchForm {
  display: block;
  padding: 30px;
}

.pinpoint {
  background-color: yellow;
  border-radius: 5px;
  padding: 5px;
}
.searchTemp {
  text-align: right;
  display: block;
  color: #006ec5;
  padding: 5px;
  font-size: 30px;
}

.active {
  color: black;
  cursor: default;
}

.active:hover {
  text-decoration: none;
  color: black;
}

.weatherIcon {
  position: absolute;
  top: 180px;
  left: 360px;
}

.summary {
  padding: 5px;
  font-size: 20px;
  position: absolute;
  top: 270px;
  left: 360px;
  font-family: "Antic Slab", serif;
}

.feels {
  display: block;
  padding: 5px;
  font-family: "Antic Slab", serif;
}

.humid {
  display: block;
  padding: 5px;
  font-family: "Antic Slab", serif;
}
